body {
  font-family: helvetica;
  text-align: center;
  color: white;
}

h1{
  font-weight: bold;
  font-size: 70px;
}


.header {
  margin-top: 30px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png
);
}

.list {
  line-height: 30px;
  list-style: none;
  font-size: 18px;
}
